.open-button {
    background: linear-gradient(to right, #100D2B, #1A163D, #1C1B51, #2A2659, #2E2A60, #302B63, #00003F);
    color: white;
    padding: 10px;
    font-weight: bold;
    border-bottom: none !important;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    position: fixed;
    bottom: 0%;
    right: 5%;
    width: 250px;
    z-index: 2;

}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 4%;
    width: 300px;
    z-index: 2;
    border-bottom: 3px solid #1c1b51;
    border-top: 3px solid #1c1b51;

}

.chatbot h5 {
    color: white;
    font-weight: bold;
}


.chatbot_header {
    position: relative;
    background: linear-gradient(to right, #100D2B, #1A163D, #1C1B51, #2A2659, #2E2A60, #302B63, #00003F);
    padding: 10px;
}

.chatbot_header a {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.chatbot_header a:hover {
    font-style: normal;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;

    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/*new*/


img {
    max-width: 100%;
}


.chat_img {
    float: left;
    width: 11%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 5px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    padding: 5px 5px 0 5px;
}

.sent_msg p {
    background: #1c1b51 none repeat scroll 0 0;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
    padding: 0 5px;
    font-size: 15px;
    min-height: 48px;
    width: 85%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #1c1b51 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 33px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 300px;
    overflow-y: auto;
    padding-bottom: 5px;
}